# ======================
# Spring Boot / Java
# ======================
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

/mvnw.bat
/mvnw.cmd
/mvnw
/.mvn/

# ======================
# Node / React
# ======================
react-js-frontend/node_modules/
node_modules/

# React build files
build/
dist/

# ======================
# Logs
# ======================
*.log

# ======================
# Environment files
# ======================
.env

# ======================
# IDE Files
# ======================

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/